*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #788ba9;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #9AD4FF;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: "Open sans";
    text-decoration: none;
}
.menu li a:hover{
    color: white;
    background-color: black;
    transition: all 0.5s;
}
.submenu1{
    position: absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.5s;
}
.submenu1 li a{
    display: block;
    padding: 15px;
    color: red;
    font-family: "Open sans";
    text-decoration: none;
}
.submenu2{
    position: absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.5s;
}
.submenu2 li a{
    display: block;
    padding: 15px;
    color: red;
    font-family: "Open sans";
    text-decoration: none;
}
.submenu2 li a:hover{
    text-decoration: underline;
}
.submenu1 li a:hover{
    text-decoration: underline;
}
.menu li:hover .submenu1{
    visibility: visible;
    opacity: 1;
    background-color: yellow;
    color: Black;
}
.menu li:hover .submenu2{
    visibility: visible;
    opacity: 1;
    background-color: yellow;
    color: black;
}
.perrito{
    padding-left: 200px;
    padding-top: 50px;
    display: inline;
}
.gatito{
    padding-left: 50px;
    padding-top: 50px;
    display: inline;
}
.hamster{
    padding-left: 50px;
    padding-top: 50px;
    display: inline;
    width: 50px;
    height: 50px;
}

.xd{
    float: right;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 120px;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    color: purple;
}
.popular{
    text-align: center;
    font-size: 50px;
}
.pez{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 300px;
    display: inline-block;
}
.pajaro{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    display: inline-block;
}